/* -----------------------------------------
	Table of Contents
--------------------------------------------

.. 01. General
.. 02. Main Navigation
.. 03. Header
.. 04. Modules
.. 05. Footer
.. 06. Global Mediaqueries

*/
/* -----------------------------------------
	01. General
----------------------------------------- */
/* Basic Typography
=================================== */
body {
  background-repeat: no-repeat;
  background-position: top center;
  line-height: 1.625;
  font-size: 16px;
  color: "#000000";
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  font-weight: 900;
  margin: 0 0 30px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 30px 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  color: "#000000";
  text-decoration: none;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: none;
}

.group:before, .group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.group:after {
  clear: both;
}

/* General Element Styling
=================================== */
/* Reset figure margin from normalize.css */
figure {
  margin: 0;
}

/* Lists */
ul, ol {
  padding-left: 20px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl {
  margin: 0 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 15px;
}

/* Blockquotes */
blockquote {
  margin: 20px 0;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font-size: 17px;
  font-weight: 300;
}
blockquote cite {
  display: block;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0 0;
  font-size: 14px;
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* Code */
code, kbd, tt, var, samp, pre {
  font-family: monospace, serif;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-style: normal;
}

pre {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Various */
address {
  margin: 0 0 15px;
}

.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Embeds and iframes
=================================== */
embed,
iframe,
object,
video,
audio {
  margin-bottom: 15px;
  max-width: 100%;
}

p > embed,
p > iframe,
p > object,
p > audio,
span > embed,
span > iframe,
span > object,
span > audio {
  margin-bottom: 0;
}

#map,
.map * {
  max-width: none !important;
}

/* -----------------------------------------
	02. Main Navigation
----------------------------------------- */
.main-menu ul.nav {
  float: right;
}
.main-menu ul.nav a {
  color: #9CBD4B;
  font-size: 13px;
}
.main-menu ul.nav ul {
  background: #9CBD4B;
}
.main-menu ul.nav ul a {
  color: #fff;
}

.navigation:before, .navigation:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.navigation:after {
  clear: both;
}
.navigation li {
  position: relative;
  z-index: 100;
}
.navigation > li {
  float: left;
}
.navigation ul {
  position: absolute;
  z-index: 300;
  top: -999em;
}
.navigation li:hover > ul,
.navigation .sfHover > ul {
  top: auto;
}
.navigation li li:hover > ul,
.navigation li .sfHover > ul {
  top: 0;
  left: 100%;
}
.navigation li li li:hover > ul,
.navigation li li .sfHover > ul {
  top: 0;
  left: 100%;
}
.navigation a, .navigation .navigation a:visited {
  display: block;
  white-space: nowrap;
}
.navigation > li > a {
  padding: 15px;
}
.navigation > li ul a {
  padding: 10px 20px 10px 15px;
  font-size: 12px;
  min-width: 180px;
  /* All Other Menu Level Link Styles */
}

/* -----------------------------------------
	03. Header
----------------------------------------- */
.site-header .container {
  padding: 15px;
}
.site-header .brand {
  position: relative;
}
.site-header .brand h1 {
  margin: 0;
  float: left;
}
.site-header .brand h1 a {
  display: block;
  width: 155px;
  height: 50px;
  background: url("../images/blog-logo@2x.png") no-repeat left center transparent;
  background-size: 100% auto;
  text-indent: -9999px;
}
.site-header #nav-toggle {
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  border: 1px solid #E8E8E8;
  background: url("../images/menu@2x.png") no-repeat center center white;
  background-size: 20px 20px;
  position: absolute;
  left: 15px;
  top: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
}

/* -----------------------------------------
	04. Modules
----------------------------------------- */
/* Modules:Global
================================================== */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.section-title {
  padding: 35px 15px 20px;
  text-align: center;
  font-weight: 400;
  font-size: 33px;
}

/* MODULE: #Product Listings
================================================== */
.product-listings {
  color: #000;
}
.product-listings .product {
  margin-bottom: 40px;
}
.product-listings .product .product-info {
  border: 1px solid #F3F3F3;
}
.product-listings .product .product-info .product-title {
  color: #DC1515;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.product-listings .product .product-info .price {
  color: #CECECE;
  font-size: 18px;
}
.product-listings .product .product-info .product-link {
  display: block;
  padding: 30px;
}

/* -----------------------------------------
	05. Footer
----------------------------------------- */
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.site-footer .copyright {
  padding: 15px;
}
.site-footer .copyright p {
  margin-bottom: 0;
  font-size: 12px;
}

/* -----------------------------------------
	06. Global Mediaqueries
----------------------------------------- */
@media (max-width: 767px) {
  .site-header .brand {
    text-align: center;
  }
  .site-header .brand h1 {
    float: none;
    display: inline-block;
  }
  .site-header .main-menu {
    margin-bottom: -15px;
    text-align: center;
  }
  .site-header .main-menu ul.nav {
    float: none;
    display: inline-block;
    margin-top: 10px;
  }
}
@media (max-width: 650px) {
  .site-header .main-menu {
    display: none;
    margin-bottom: 0;
  }
  .site-header #nav-toggle {
    display: block;
  }
}
