/* -----------------------------------------
	06. Global Mediaqueries
----------------------------------------- */

@media ( max-width: $screen-xs-max ) {
    
    .site-header {
        .brand {
            text-align: center;
            h1 {
                float: none;            
                display: inline-block;            
            }
        }
        .main-menu {
            margin-bottom: -15px;
            text-align: center;
            ul.nav {
                float: none;
                display: inline-block;
                margin-top: 10px;
            }
        }
    }    
}

@media ( max-width: 650px ) {
    .site-header {        
        .main-menu {
            display: none;
            margin-bottom: 0;
        }
        #nav-toggle {
            display: block;
        }
    }
}