/* -----------------------------------------
	02. Main Navigation
----------------------------------------- */

.main-menu {
    ul.nav {
        float: right;        
        a {
            color: $primary-color;
            font-size: 13px;
        }
        ul {
            background: $primary-color;
            a {
                color:#fff;
            }
        }
    }
}

.navigation {
	@include clearfix();

  // Navigation functional styles
  li { position: relative; z-index: 100;}
  > li { float: left; }
  ul { position: absolute; z-index: 300; top: -999em; }
  li:hover > ul,
  .sfHover > ul { top: auto; }
  li li:hover > ul,
  li .sfHover > ul { top: 0; left: 100%; }
  li li li:hover > ul,
  li li .sfHover > ul{ top: 0; left: 100%; }
  a, .navigation a:visited { display: block; white-space: nowrap; }

  > li:first-child > a { }
  > li:last-child > a { }

  > li > a {
    padding: 15px;
  }

  > li ul a {
    padding: 10px 20px 10px 15px;
    font-size: 12px;
    min-width: 180px;
    /* All Other Menu Level Link Styles */
  }

}
